<!-- views/filter-results.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="filter-results content">
        <h1><%= title %> (<%= filterResults.length%>)</h1>
        <%- include("./partials/filter.ejs") %>
        <%- include("./partials/sort.ejs") %>
        <!-- check if BOTH arrays are empty -->
        <% if (filterResults.length === 0) { %>
            <p>No results found for "<%= filterResults %>".</p>
        <% } else { %>
            <% if (filterResults.length > 0) { %>
                <ul id="plant-list">
                    <% filterResults.forEach(plant => { %>
                        <li
                            data-common="<%= plant.common_name %>" 
                            data-scientific="<%= plant.scientific_name %>"
                            data-quantity="<%= quantityToSortValue(plant.quantity_level) %>"
                            data-created="<%= plant.created_at %>"
                            data-updated="<%= plant.updated_at %>">
                                <a href="/plants/<%= plant.id %>">
                                <%= plant.common_name %> (<em><%= plant.scientific_name %></em>)
                            </a>
                        </li>
                    <% }) %>
                </ul>
            <% } %> 
        <% } %>

    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/sort.js"></script>
</body>
</html>