<!-- views/plants.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <div class="all-plants content">
    <h1><%= title %></h1>
      <%- include("./partials/filter.ejs") %>
      <%- include("./partials/sort.ejs") %>

    <% if (plants.length === 0) { %>
      <p>No plants found.</p>
    <% } else { %>
      <div id="plant-list" class="plant-list">
        <% plants.forEach(plant => { %>
          <div class="plant-card"
            data-common="<%= plant.common_name %>" 
            data-scientific="<%= plant.scientific_name %>"
            data-quantity="<%= quantityToSortValue(plant.quantity_level) %>"
            data-created="<%= plant.created_at %>"
            data-updated="<%= plant.updated_at %>">
              <p>
                <img src="<%= plant.image_url %>" class="card-img"></br><br>
                <a href="/plants/<%- plant.id %>"><%= plant.common_name %><br>
                (<em><%= plant.scientific_name %></em>)</a>
              </p>
              <%= formatStockStatus(plant.stock_status) %> | <%= formatQuantityLevel(plant.quantity_level) %> Quantity
        </div>
        <% }) %>
      </div>
    <% } %>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script src="/sort.js"></script>
</body>
</html>