<!-- views/plants.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <div class="all-plants content">
    <h1><%= title %></h1>
      <%- include("./partials/filter.ejs") %>
      <%- include("./partials/sort.ejs") %>

    <% if (plants.length === 0) { %>
      <p>No plants found.</p>
    <% } else { %>
      <ul id="plant-list">
        <% plants.forEach(plant => { %>
          <li 
            data-common="<%= plant.common_name %>" 
            data-scientific="<%= plant.scientific_name %>"
            data-quantity="<%= quantityToSortValue(plant.quantity_level) %>"
            data-created="<%= plant.created_at %>"
            data-updated="<%= plant.updated_at %>"><a href="/plants/<%- plant.id %>"><%= plant.common_name %> (<em><%= plant.scientific_name %></em>)</a></li>
        <% }) %>
      </ul>
    <% } %>
  </div>

  <%- include("./partials/footer.ejs") %>
  
</body>
</html>