<!-- views/plants.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <div class="all-plants content">
    <h1><%= title %></h1>

    <% if (plants.length === 0) { %>
      <p>No plants found.</p>
    <% } else { %>
      <ul>
        <% plants.forEach(plant => { %>
          <li><a href="/plants/<%- plant.id %>"><%= plant.common_name %> (<em><%= plant.scientific_name %></em>)</a> <button onclick="window.location.href='/plants/<%- plant.id %>/edit';">Edit</button></li>
        <% }) %>
      </ul>
    <% } %>
  </div>

  <%- include("./partials/footer.ejs") %>
  
</body>
</html>