<!-- views/search-results.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="search-results content">
        <h1><%= title %></h1>
        <%- include("./partials/filter.ejs") %>
        <%- include("./partials/sort.ejs") %>

        <!-- check if BOTH arrays are empty -->
        <% if (searchResults.plants.length === 0 && searchResults.medicinal_uses.length === 0) { %>
            <p>No results found for "<%= searchTerm %>".</p>
        <% } else { %>
            <!-- plants section -->
            <% if (searchResults.plants.length > 0) { %>
                <h2>Plants (<%= searchResults.plants.length%>)</h2>
                <div id="plant-list" class="plant-list">
                    <% searchResults.plants.forEach(plant => { %>
                        <div class="plant-card"
                            data-common="<%= plant.common_name %>" 
                            data-scientific="<%= plant.scientific_name %>"
                            data-quantity="<%= quantityToSortValue(plant.quantity_level) %>"
                            data-created="<%= plant.created_at %>"
                            data-updated="<%= plant.updated_at %>">
                            <a href="/plants/<%- plant.id %>" class="card-link">
                                <img src="<%= plant.image_url %>" class="card-img">
                                <hr>
                                <p class="plant-name">
                                    <strong><%= plant.common_name %></strong><br>
                                    <em><%= plant.scientific_name %></em>
                                </p>
                                <p class="plant-status">
                                    <div class="stock label">
                                        <i class="fa-solid fa-leaf"></i>
                                        <%= formatStockStatus(plant.stock_status) %>
                                    </div>
                                    <% if (plant.quantity_level) { %>
                                        <div class="quantity label">
                                            <i class="fa-solid fa-ranking-star"></i> <%= formatQuantityLevel(plant.quantity_level) %>
                                        </div>
                                    <% } %>
                                    <% if (plant.order_status) { %>
                                        <div class="order label">
                                            <i class="fa-solid fa-box-archive"></i> <%= formatStockStatus(plant.order_status) %>
                                        </div>
                                    <% } %>
                                </p>
                            </a>
                        </div>
                    <% }) %>
                </div>
            <% } %> 
            <!-- medicinal uses section -->
            <% if (searchResults.medicinal_uses.length > 0) { %>
                <h2>Medicinal Uses (<%= searchResults.medicinal_uses.length %>)</h2>
                <ul>
                    <% searchResults.medicinal_uses.forEach(use => { %>
                        <li>
                            <a href="/medicinal/<%= use.id %>">
                                <%= use.use_name %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script src="/sort.js"></script>
</body>
</html>